body {
  text-align: center;
  font-family: Helvetica; sans-serif;
}
.top {
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
.nav-m {
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight:bold;
  color: black;
}
h3 {
  font-size: 23px;
  font-weight: bold;
  color: black;
}
p {
  font-size: 14px
}
